/* GOOGLE-FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #0b5ed7 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #0b5ed7;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

*:focus {
	outline: 2px dotted #06060670;
	outline-offset: 2px;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 24px;
	font-style: normal;
	line-height: 1.67;
	color: #000;
	overflow-x: hidden;
}

.btn {
	background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
	opacity: 0.9;
	border-radius: 35px;
	cursor: pointer;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	padding: 21px 74px 21px 71px;
	transition: all 0.3 ease;
}

.btn:hover {
	background: linear-gradient(90deg, #00c9c9 0%, #0d4c93 100%);
	transition: all 0.3 ease;
}

.btn:active {
	opacity: 0.6;
}

.btn__products {
	padding: 24px 58px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.btn__products--active {
	background: #00c9c9;
}

.btn-services {
	padding: 15px 84px 12px 82px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.btn-news {
	display: inline-block;
	padding: 15px 80px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-family: Roboto;
	letter-spacing: 0.8px;
	margin-bottom: -50px;
	margin-left: 30px;
}

.btn__footer {
	padding: 14px 30px;
}

.btn__company {
	padding: 12px 58px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-family: Roboto;
	letter-spacing: 0.8px;
}

a:hover {
	opacity: 0.8;
}

a:active {
	opacity: 0.6;
}

.react-multi-carousel-list {
	padding: 0rem 0 0 0 !important;
}

.custom-dot-list-style button {
	width: 25px !important;
	height: 25px !important;
	border-color: #00c9c9 !important;
	background: #fff !important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
	background: #00c9c9 !important;
	border-color: #00c9c9;
}

@media screen and (max-width: 1200px) {
	.btn__products {
		padding: 18px 32px;
	}
}

@media screen and (max-width: 768px) {
	.btn {
		border-radius: 28px;
		font-size: 18px;
		line-height: 26px;
		padding: 15px 48px 15px 48px;
	}

	.btn__products {
		padding: 15px 48px;
	}

	.btn-services {
		padding: 12px 48px 12px 48px;
	}

	.btn-news {
		padding: 12px 48px;
	}

	.btn__footer {
		padding: 14px 28px;
	}

	.btn__company {
		padding: 12px 48px;
		font-size: 16px;
		letter-spacing: 0.6px;
	}
}

@media screen and (max-width: 640px) {
	.btn {
		border-radius: 24px;
		font-size: 12px;
		line-height: 22px;
		padding: 12px 36px 12px 36px;
	}

	.btn__products {
		padding: 12px 36px;
	}

	.btn-services {
		padding: 12px 36px 12px 36px;
	}

	.btn-news {
		padding: 12px 36px;
	}

	.btn__footer {
		padding: 12px 26px;
	}

	.btn__company {
		padding: 10px 36px;
		font-size: 14px;
		letter-spacing: 0.4px;
	}
}
