.wrapper {
	background-image: url(../images/blur-hospital\ 1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.footer {
	background-image: url(../images/blur-hospital\ 1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	width: 100%;
	max-width: 1360px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-left: 20px;
}

.navLi:not(:last-child) {
	margin-right: 48px;
}

.products__image {
	width: 220px;
	height: 220px;
	object-fit: cover;
}

.products__li {
	background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
	margin-bottom: 55px;
}

.products__ul {
	margin-right: -40px;
}

.products__li {
	margin-right: 40px;
}

.services {
	background-image: url(../images/servises-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.services__li:not(:last-child) {
	margin-right: 56px;
}

.aboutCompany__ellipseOne {
	border: 40px solid rgba(0, 201, 201, 0.2);
}

.aboutCompany__info {
	width: 1023px;
	height: 504px;
	flex-shrink: 0;
	border-radius: 0px 50px 50px 0px;
	background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.aboutCompany__ellipse4 {
	width: 574px;
	height: 574px;
	object-fit: cover;
}

.aboutCompany__ellipse5 {
	width: 458px;
	height: 458px;
	object-fit: cover;
}

.aboutCompany__ellipse6 {
	width: 352px;
	height: 352px;
	object-fit: cover;
}

.aboutCompany__logo {
	width: 200px;
	height: 58px;
	object-fit: cover;
}

.news__li {
	width: 382px;
	flex-shrink: 0;
	border-radius: 35px;
	border: 2px solid #f6f6f6;
	opacity: 0.8999999761581421;
	background: linear-gradient(180deg, #f8f8f8 0%, rgba(255, 255, 255, 0) 100%);
}

.news__image {
	margin-top: -136px;
}

.partners__list {
	border-radius: 30px;
	border: 1px solid #ececec;
	background: #fff;
	width: 275px;
}

.aboutCompany__images {
	width: 574px;
	height: 574px;
	object-fit: cover;
}

.aboutCompany__bg {
	width: 786px;
	flex-shrink: 0;
	border-radius: 50px 50px 50px 50px;
	background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.info {
	color: #000;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 300;
	line-height: 173.187%;
	letter-spacing: 1.2px;
	margin-bottom: 20px;
}

.footer__logo {
	width: 200px;
	height: 58px;
	object-fit: contain;
}

@media screen and (max-width: 1455px) {
	.aboutCompany__images {
		width: 500px;
		height: 500px;
	}

	.aboutCompany__bg {
		width: 98%;
	}
}

@media screen and (max-width: 1430px) {
	.aboutCompany__info {
		width: 900px;
		height: 504px;
		left: 300px;
	}

	.aboutCompany__text {
		width: 550px;
		left: 590px;
	}
}

@media screen and (max-width: 1356px) {
	.products__li {
		width: 350px;
		height: 439px;
		padding: 17px 30px 32px;
	}

	.footer__links {
		flex-direction: column;
	}
	.services__ul {
		justify-content: center;
	}

	.services__li {
		width: 450px;
		border-radius: 60px;
	}

	.services__li:not(:last-child) {
		margin-bottom: 56px;
	}

	.services__image {
		width: 450px;
		object-fit: cover;
	}
}

@media screen and (max-width: 1165px) {
	.products__ul {
		justify-content: center;
	}

	.products__li {
		width: 430px;
		height: 439px;
		padding: 17px 40px 32px;
	}
}

@media screen and (max-width: 1156px) {
	.footer__social {
		flex-direction: column;
	}

	.footer__location {
		margin-bottom: 20px;
	}

	.footer__button {
		margin-right: 60px;
		flex-direction: column;
		margin-left: 0;
	}

	.footer__email {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1140px) {
	.news__info {
		justify-content: center;
	}

	.news__inner {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1124px) {
	.navLi:not(:last-child) {
		margin-right: 28px;
	}

	.navLi Link {
		font-size: 16px;
	}

	.location {
		margin-right: 28px;
	}

	.tell {
		margin-right: 28px;
	}

	.logo {
		margin-left: 28px;
		margin-right: 56px;
	}

	.search {
		margin-right: 28px;
	}

	.image {
		object-fit: cover;
		width: 540px;
		height: 450px;
	}
}

@media screen and (max-width: 1086px) {
	.aboutCompany__wrapper {
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.aboutCompany__images {
		width: 550px;
		height: 550px;
		margin-bottom: 35px;
	}

	.aboutCompany__bg {
		width: 98%;
	}

	.navLi:not(:last-child) {
		margin-right: 0;
	}

	.social {
		flex-direction: column;
	}

	.location {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.tell {
		margin-right: 0;
	}

	.till {
		flex-direction: column;
	}

	.facebook {
		margin-bottom: 20px;
		margin-right: 0;
	}

	.search {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1032px) {
	.services__ul:not(:last-child) {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1023px) {
	.navbar {
		padding: 24px 24px 24px 24px;
	}

	.navbarLink {
		font-size: 16px;
	}

	.headerWrapper {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 976px) {
	.services__li:not(:last-child) {
		margin-right: 36px;
	}

	.navbar {
		display: none;
	}

	.search {
		margin-right: 20px;
	}

	.hero {
		display: none;
	}

	.headerWrapper {
		padding-top: 50px;
	}

	.block {
		display: none;
	}

	.sidebar {
		display: block;
		animation: slide-sidebar;
	}

	@keyframes slide-sidebar {
		0% {
			transform: translateY(100px);
		}

		100% {
			transform: translateY(0);
		}
	}
}

@media screen and (max-width: 935px) {
	.products {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.products__li {
		width: 600px;
		height: 439px;
		padding: 17px 60px 32px;
	}

	.products__ul {
		margin-right: 0;
	}
	.products__li:not(:last-child) {
		margin-right: 0;
	}

	/* .products__li {
		padding: 0;
	} */

	.services {
		padding-top: 48px;
		padding-bottom: 56px;
	}

	.services__info {
		padding: 0 48px 24px;
	}
}

@media screen and (max-width: 850px) {
	.footer__container {
		flex-direction: column;
	}

	.footer__social {
		margin-left: 45px;
	}

	.footer__button {
		margin-right: 0;
	}

	.footer__links {
		flex-direction: row;
	}

	.footer__bottom {
		margin-top: 20px;
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	.news__li {
		width: 90%;
		text-align: center;
	}

	.news__li:not(:last-child) {
		margin-right: 0px;
	}

	.news__li {
		margin-right: 0;
		margin-left: 0;
	}

	.news__image {
		width: 90%;
		object-fit: cover;
	}
}

@media screen and (max-width: 772px) {
	.aboutCompany__images {
		width: 450px;
		height: 450px;
	}

	.aboutCompany__bg {
		width: 98%;
	}
}

@media screen and (max-width: 510px) {
	.aboutCompany__images {
		width: 350px;
		height: 350px;
	}
}
